<form action="/elephants" method="POST">
    <label>Elephant's name</label>
    <input type="text" name="name"><br>
    <label>Age</label>
    <input type="number" name="age"><br>
    <input type="submit" value="Add Elephant">
</form>    